@model IEnumerable<Fantastics.user>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.user_login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_pass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_nicename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_registered)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_activation_key)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.display_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_firstname)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.user_login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user_pass)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user_nicename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user_email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user_url)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user_registered)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user_activation_key)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user_status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.display_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user_lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user_firstname)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
