<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!-- Meta, title, CSS, favicons, etc. -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Fantastics | @ViewBag.Title;</title>
    @Styles.Render("~/css/admin.css")
</head>
<body class="page">
	<div class="admin-wrap">
        <div class="admin-menu-main">
            <div class="admin-menu-back"></div>
            <div class="admin-menu">

            </div>
        </div>
    </div>
    <div class="admin-content-wrap">
        <div class="admin-body">
            <h1>@ViewBag.Title;</h1>
            @RenderBody()
        </div>
    </div>
    @Scripts.Render("~/foundation.min.js");
    @Scripts.Render("~/datatables.min.js");
	@Scripts.Render("~/bundles/jquery");
	@Scripts.Render("~/bundles/bootstrap");
	@RenderSection("scripts", required: false)
</body>
</html>