<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!-- Meta, title, CSS, favicons, etc. -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Fantastics | @ViewBag.Title;</title>
    @Styles.Render("~/css/admin.css")
</head>
<body class="page">
	<div class="admin-wrap">
        <div class="admin-menu-main">
            <div class="admin-menu-back"></div>
            <div class="admin-menu">
				<ul class="dropdown menu">
					<li>
						<a href="#">Dashboard</a>
					</li>
					<li>
						<a href="#">Locations</a>
						<ul>
							<li><a href="">Add Location</a></li>
							<li><a href="">Edit Location</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Products</a>
						<ul>
							<li><a href="">Add Product</a></li>
							<li><a href="">Edit Product</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Product Categories</a>
						<ul>
							<li><a href="">Add Category</a></li>
							<li><a href="">Edit Category</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Users</a>
						<ul>
							<li><a href="">Add User</a></li>
							<li><a href="">Edit User</a></li>
						</ul>
					</li>

				</ul>
            </div>
        </div>
    </div>
    <div class="admin-content-wrap">
        <div class="admin-body">
            <h1>@ViewBag.Title;</h1>
            @RenderBody()
        </div>
    </div>
	@Scripts.Render("~/bundles/jquery");
	@Scripts.Render("~/foundation.min.js");
	@Scripts.Render("~/datatables.min.js");
	@Scripts.Render("~/app.min.js");
	@RenderSection("scripts", required: false)
</body>
</html>